* {
  box-sizing: border-box;
}

header {
  background: DarkBlue;
  text-align: center;
  margin: 20px;
  padding: 10px;
  height: 150px;
  min-width: 920px;
}

body {
  color: white;
  text-align: center;
  min-height: 660px;
  background-color: LightSteelBlue;
  font-family: 'VT323', monospace;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 400px;
  height: 400px;
}

.txt-fx1 {
  line-height: 120px;
}

.txt-fx2 {
  line-height: 50px;
}

li {
  background-color: SeaGreen;
  opacity: 0.8;
  float: left;
  width: 200px;
  height: 200px;
  font-size: 40px;
  text-align: center;
  border: 2px solid white;
  list-style-type: none;
  margin: auto;
  line-height: 200px;
}

li.p {
  position:absolute;
  margin: 0 auto;
  width: 100px;
  text-align: center;
}

.welcomeMessage {
  font-size: 35px;
  color: white;
  line-height: 60px;
}

.answerInstructions {
  text-align: center;
  font-size: 35px;
  text-transform: capitalize;
  color: Purple;
  padding: 5px;
  margin: 5px;
  line-height: 60px;
  }

#Happy.show-bg {
  background-image: url('https://media.giphy.com/media/l2JhCUkjx82I4IYpy/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Sad.show-bg {
  background-image: url('https://media.giphy.com/media/k61nOBRRBMxva/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Excited.show-bg {
  background-image: url('https://media.giphy.com/media/bU3fK8ZpMYEFO/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Bored.show-bg {
  background-image: url('https://media.giphy.com/media/3orif0olmGNHtrBnXO/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Angry.show-bg {
  background-image: url('https://media.giphy.com/media/Vi4MRwWi9sYpi/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Proud.show-bg {
  background-image: url('https://media.giphy.com/media/9Q249Qsl5cfLi/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Pensive.show-bg {
  background-image: url('https://media.giphy.com/media/l0MYDolXmglkqzl1C/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Tired.show-bg {
  background-image: url('https://media.giphy.com/media/6uMqzcbWRhoT6/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Hungry.show-bg {
  background-image: url('https://media.giphy.com/media/l0MYylLtnC1ADCGys/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.correct {
  text-align: center;
  font-size: 25px;
  text-transform: capitalize;
  padding: 20px;
  color: LightSeaGreen;
  line-height: 60px;
}

.oneWrong {
  background-image: url('https://media.giphy.com/media/l0G16PO3zsNBcMlIA/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}

.allCorrect {
  background-image: url('https://media.giphy.com/media/3o6ZthPn8PGzFLEyFW/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}

.gameOutcome {
  font-size: 35px;
  color: white;
  padding: 10px;
  margin: 10px;
}


.playAgain {
  font-size: 35px;
  color: White;
  padding: 5px;
  margin: 5px;
  line-height: 80px;
}

.level {
  font-size: 35px;
  color: W;
  padding: 5px;
  margin: 5px;
  line-height: 80px;
}

footer {
  background: SteelBlue;
  text-align: center;
  line-height: 25px;
  clear: both;
  min-width: 920px;
  height: 100px;
  margin: 20px;
  padding: 10px;
}

.flash {
-webkit-animation: flash 3s ease-out;
-webkit-animation-iteration-count: 2;
}
