* {
  box-sizing: border-box;
}

header {
  background: yellow;
  text-align: center;
}

body {
  background: green;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  color: pink;
  text-align: center;
  margin: auto;
}

main {
  max-width: 640px;
  margin: 20px auto;
  padding: 20px;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 450px;
  height: 450px;
}

li {
  float: left;
  width: 145px;
  height: 145px;
  font-size: 70px;
  line-height: 145px;
  text-align: center;
  border: 2px solid white;
  list-style-type: none;
  margin: auto;
}

.playAgain {
  font-size: 20px;
  background: black;
  border: none;
  color: white;
  cursor: pointer;
  margin: 20px;
}

.playWithMe {
  margin: auto;
}

.animalAnswer {

}

.actionAnswer {

}

.playAgain {

}

.level {
  font-size: 20px;
}

footer {
  text-align: center;
  background: red;
  margin: 10 auto;
}
