* {
  box-sizing: border-box;
}

header {
  background: DarkBlue;
  text-align: center;
  margin: 20px;
  padding: 20px;
  line-height: 18px;
}

body {
  color: white;
  text-align: center;
  height: 1000px;
  background-color: LightSteelBlue;
  font-family: 'VT323', monospace;
}
main {
  padding: 7px;
  height: 400px;
}

ul {
  margin: 0 auto;
  padding: 0;
  width: 600px;
  /*height: 600px;*/
}

li {
  background-color: SeaGreen;
  opacity: 0.8;
  float: left;
  width: 200px;
  height: 200px;
  font-size: 50px;
  text-align: center;
  border: 2px solid white;
  list-style-type: none;
  margin: auto;
  line-height: 100px;
}

.welcomeMessage {
  font-size: 35px;
  color: white;
  padding: 10px;
  margin: 10px;
}

.level {
  font-size: 35px;
  color: LightSkyBlue;
  padding: 10px;
  margin: 10px;
}

.answerInstructions {
  text-align: center;
  font-size: 35px;
  text-transform: capitalize;
  color: LightSeaGreen;
  padding: 10px;
  margin: 10px;
  }

.selectEmotion {
  line-height: 300px;
}

#Happy.show-bg {
  background-image: url('https://media.giphy.com/media/l2JhCUkjx82I4IYpy/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Sad.show-bg {
  background-image: url('https://media.giphy.com/media/k61nOBRRBMxva/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Excited.show-bg {
  background-image: url('https://media.giphy.com/media/bU3fK8ZpMYEFO/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Bored.show-bg {
  background-image: url('https://media.giphy.com/media/3orif0olmGNHtrBnXO/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Angry.show-bg {
  background-image: url('https://media.giphy.com/media/Vi4MRwWi9sYpi/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Proud.show-bg {
  background-image: url('https://media.giphy.com/media/9Q249Qsl5cfLi/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Pensive.show-bg {
  background-image: url('https://media.giphy.com/media/l0MYDolXmglkqzl1C/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Tired.show-bg {
  background-image: url('https://media.giphy.com/media/6uMqzcbWRhoT6/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Hungry.show-bg {
  background-image: url('https://media.giphy.com/media/l0MYylLtnC1ADCGys/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.correct {
  text-align: center;
  font-size: 35px;
  text-transform: capitalize;
  color: LightSeaGreen;
  padding: 10px;
  margin: 10px;
  }

.oneWrong {
  background-image: url('https://media.giphy.com/media/l0G16PO3zsNBcMlIA/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}

.allCorrect {
  background-image: url('https://media.giphy.com/media/3o6ZthPn8PGzFLEyFW/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}

.gameOutcome {
  font-size: 35px;
  color: white;
  padding: 10px;
  margin: 10px;
}


.playAgain {
  font-size: 35px;
  background: DarkBlue;
  color: LightSkyBlue;
}

footer {
  background: DarkBlue;
  text-align: center;
  margin: 30px;
  padding: 20px;
  line-height: 25px;
  clear: both;
}

.flash {
-webkit-animation: flash 2s ease-out;
-webkit-animation-iteration-count: 1;
}

@-webkit-keyframes flash {
    0% {background-color: none;}
    50% {background-color: SeaGreen;}
    100% {background-color: none;}
}
